@media (max-width: 1430px) {
	.b-wrapper__top{
		padding: 0 0 0 80px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.b-arrow{
		left: 5px;
	}
}

@media (max-width: 1400px) {
	.b-logo img{
		left: 0px;
	}
	.b-footer__logo img{
		left: 0px;
	}
}
@media (max-width: 1279px) {
	p{
		font-size: 18px;
	}
	.b-logo{
		max-width: 400px;
	}
	.b-nav{
		top: -30px;
	}
	.b-promo{
		padding: 60px 0 0 0;
	}
	.b-promo__img{
		width: 400px;
		margin: 0 30px 0 0;
	}
	.b-title{
		font-size: 39px;
		line-height: 1.2;
	}
	.b-title.orange{
		padding: 25px 40px 25px 50px;
	}
	.b-services__left{
		padding: 40px 0 0 0;
	}
	.b-services__img{
		width: 464px;
	}
	.b-services__bottom-text{
		width: 464px;
	}
	.b-articles__top-img{
		max-height: 300px;
	}
	.b-articles__top-img img{
		top: -115px;
	}
	.b-articles__item p{
		font-size: 20px;
	}
	.b-partners__img{
		max-width: 460px;
	}
	.b-partners__img img{
		max-width: inherit;
	}
	.b-team__left{
		width: 29.8%;
	}
	.b-team__item-name{
		font-size: 40px;
	}
	.b-team__row{
		margin: 0 0 30px 0;
	}
	.b-team__text{
		max-width: 100%;
		margin: 0 0 15px 0;
	}
	.b-team__bottom{
		display: block;
	}
	.b-form{
		margin: 0 30px 0 0;
		width: 380px;
		max-width: inherit;
	}
	.b-contacts__left-item{
		margin: 0;
	}
	.b-contacts .container{
		justify-content: center;
	}
	.b-footer__logo{
		max-width: 400px;
	}
	.b-footer__nav ul li:not(:last-child) {
		margin: 0 0 10px 0;
	}
	.b-footer__nav ul li a{
		font-size: 20px;
	}
	.b-footer__top{
		margin: 0 0 30px 0;
	}
	.team-page .b-team__item-img{
		width: 300px;
	}
	.team-page .b-team__item-name{
		font-size: 35.6928px;
		line-height: 36px;
		margin: 0 0 10px 0;
	}
	.team-page .b-team__item-desc{
		font-size: 14.872px;
		line-height: 15px;
		margin: 0 0 25px 0;
	}
	.b-team__item-right p{
		font-size: 20px;
		line-height: 1.2;
	}
	.b-wrapper__top{
		margin: 0 0 40px 0;
	}
	.b-wrapper__top .b-title{
		font-size: 45px;
		line-height: 1.2;
	}
	.b-arrow{
		width: 40px;
		height: 40px;
		background-size: contain;
		top: 8px;
	}
	.articles-page .b-articles__top-img{
		max-width: 360px;
	}
	.articles-page .b-articles__top-img img{
		max-width: 100%;
		top: -56px;
	}
	.b-articles__col{
		padding-left: 30px;
		padding-right: 30px;
		margin-top: 30px;
	}
	.b-articles__row{
		margin-top: -30px;
		margin-left: -30px;
		margin-right: -30px;
	}
	.article-page .b-wrapper__top .b-title{
		font-size: 35px;
	}
}
@media (max-width: 992px) {
	.b-nav{
		width: 400px;
		padding: 32px 20px 30px 34px;
	}
	.b-nav ul li a{
		font-size: 26px;
		line-height: 1;
	}
	.b-promo__img{
		width: 320px;
	}
	.b-promo__right{
		padding: 75px 0 0 0;
	}
	.b-services__container{
		display: block;
	}
	.b-services__left{
		padding: 0;
	}
	.b-services__left .b-title{
		position: static;
	}
	.b-services__text{
		padding: 0;
		margin: 25px 0;
	}
	.b-services__img{
		width: auto;
	}
	.b-services__img img{
		margin: 0 auto 0;
		max-width: 50%;
	}
	.b-services__image{
		display: none;
	}
	.b-services__text p{
		margin: 0 0 25px 0;
	}
	.b-services__container{
		margin: 0 0 20px 0;
	}
	.b-services__bottom{
		padding: 0;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}
	.b-services__bottom-text{
		width: 100%;
		margin: 0 0 20px 0;
	}
	.b-articles__top{
		display: block;
	}
	.b-articles__top .b-title{
		max-width: 300px;
	}
	.b-articles__top-img{
		max-width: 100%;
		max-height: inherit;
		height: 262px;
		overflow: hidden;
	}
	.b-articles__top-img img{
		top: -51px;
		max-width: 435px;
		margin: 0 auto 0;
	}
	.b-articles__container{
		flex-wrap: wrap;
	}
	.b-articles__col{
		width: 50%;
	}
	.b-articles__right{
		width: 100%;
		justify-content: center;
		margin: 30px 0 0 0;
	}

	.b-partners .b-title {
		max-width: 492px;
		margin: 0 0 15px 0;
	}
	.b-partners__right{
		margin-left: -7px;
		margin-right: -7px;
		justify-content: flex-end;
	}
	.b-partners__col{
		width: 50%;
		padding-left: 7px;
		padding-right: 7px;
	}
	.b-partners__col:not(:last-child){
		margin: 0;
	}
	.b-partners__col:first-child{
		padding-top: 0px;
	}
	.b-partners__item{
		display: block;
		width: 100%;
		height: auto;
		min-height: 74px;
		padding: 14px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.b-partners__item img{
		margin: 0 auto 0;
		max-height: 47px;
	}
	.b-partners__item:not(:last-child){
		margin: 0 0 14px 0;
	}
	.b-partners{
		padding: 0;
	}
	.b-partners__img{
		position: static;
		transform: none;
		max-width: inherit;
		margin: -125px -15px 0 -15px;
		height: 445px;
		overflow: hidden;
	}
	.b-partners__img img{
		max-width: 100%;
		margin: 0 auto 0;
	}
	.b-team .container{
		display: block;
		padding: 0;
	}
	.b-team__left{
		width: 100%;
		position: relative;
	}
	.b-team__left img{
		width: 100%;
	}
	.b-team .b-title{
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		width: 90%;
	}
	.b-title.orange{
		padding: 16px 10px;
		margin-left: -15px;
		display: inline-block;
	}
	.b-team__bottom{
		padding: 0 15px;
	}
	.team-page .container{
		padding: 0 15px;
	}
	.articles-page .b-articles__item{
		padding: 25px 15px;
		height: 100%;
	}
	.articles-page .b-articles__item p{
		font-size: 22px;
		line-height: 1.2;
	}
	.articles-page .b-articles__item-number{
		font-size: 35px;
		line-height: 1;
		margin: 0 0 25px 0;
	}
	.article__content p{
		font-size: 16px;
	}
	.article__content p b{
		font-size: 20px;
	}
	.article__content p:not(:last-child) {
		margin: 0 0 15px 0;
	}
	.article__btn{
		width: 155px;
		height: 40px;
		font-size: 15.5049px;
		margin: 10px auto 0;
	}
	.article__bottom{
		margin: 50px 0 0 0;
	}
	.article__bottom span{
		font-size: 13.5668px;
		line-height: 14px;
		margin: 0 0 10px 0;
	}
	.article-page .b-wrapper__top .b-title {
		font-size: 28px;
	}
	.b-form .block span{
		font-size: 20px;
		margin: 0 0 15px 0;
	}
	.b-partners__img img{
		display: none;
	}
}
@media (max-width: 767px) {
	p{
		font-size: 12.0413px;
		line-height: 12px;
	}
	.b-logo{
		max-width: 220px;
	}
	.b-logo img {
		left: -11px;
	}
	.b-header__lang-top{
		font-size: 18px;
	}
	.b-header__lang-drop a{
		font-size: 16px;
	}
	.b-header__lang{
		margin: 0 15px 0 0;
	}
	.menu-icon__wrapper{
		width: 24px;
		height: 20px;
	}
	.menu-icon .b-menu__line{
		height: 3px;
	}
	.menu-icon .b-menu__line_2{
		top: 9px;
	}
	.menu-icon .b-menu__line_3{
		top: 17px;
	}

	.b-promo .container{
		display: block;
	}
	.b-promo{
		padding: 20px 0 25px 0;
	}
	.b-promo__img{
		width: auto;
		margin: 0 0 15px 0;
	}
	.b-promo__img img{
		margin: 0 auto 0;
		max-width: 100%;
	}
	.b-promo__right{
		padding: 0;
	}
	.b-promo__text{
		padding: 10px;
	}
	.b-services{
		padding: 0 0 20px 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.b-services__left{
		margin: 0;
	}
	.b-title{
		font-size: 30.1033px;
		line-height: 30px;
	}
	.b-title.orange{
		margin: 0 0 0 -15px;
	}
	.b-services__text{
		margin: 15px 0 15px 0;
		padding: 0 5px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.b-services__text p {
		margin: 0 0 20px 0;
		font-size: 14px;
		line-height: 1;
	}
	.b-services__img img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		max-width: 100%;
	}
	.b-services__btn{
		width: 190px;
		height: 50px;
		font-size: 20.0689px;
	}
	.b-services__bottom-text{
		padding: 10px;
		font-size: 12.0413px;
		line-height: 12px;
	}
	.b-articles{
		padding: 30px 0;
	}
	.b-articles__top-img{
		height: 220px;
	}
	.b-articles__top-img img {
		top: 0;
		max-width: 266px;
	}
	.b-articles__container{
		margin-top: -20px;
	}
	.b-articles__col{
		width: 100%;
		margin-top: 20px;
	}
	.b-articles__item-number{
		font-size: 35px;
		line-height: 1;
		margin: 0 0 25px 0;
	}
	.b-articles__item p{
		font-size: 15px;
		line-height: 1;
	}
	.b-articles__item{
		height: auto;
		min-height: 150px;
		padding: 20px 15px;
	}
	.b-articles__item-img img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.btn-more{
		width: 120px;
		height: 50px;
		color: #FA4C14;
		font-size: 22.4771px;
		line-height: 1;
	}
	.b-articles__right{
		margin: 20px 0 0 0;
	}
	.b-partners .container{
		display: block;
	}
	.b-partners__item{
		display: flex;
		justify-content: center;
		align-content: center;
	}
	.b-partners__img{
		height: 274px;
		margin: -40px -15px 0 -15px;
	}
	.b-team{
		padding: 0 0 25px 0;
	}
	.b-team .b-title{
		margin: 0;
	}
	.b-team__right{
		display: flex;
		flex-direction: column;
	}
	.b-team__bottom{
		display: none;
	}
	.b-team__wrap{
		display: none;
	}
	.b-team__text.xs{
		display: block;
		margin: 0;
		padding: 10px;
		font-size: 11.9285px;
		line-height: 12px;
		margin: 20px 15px;
		text-align: justify;
	}
	.b-team__bottom.xs{
		display: block;
	}
	.b-team__bottom.xs .b-team__wrap{
		display: block;
	}
	.b-team__row{
		display: block;
	}
	.b-team__item{
		width: 100%;
		padding: 30px 20px;
	}
	.b-team__item-img{
		margin: 0 0 15px 0;
	}
	.b-team__item-name{
		font-size: 38px;
		line-height: 1.3;
		margin: 0 0 5px 0;
		padding: 0;
	}
	.b-team__item-desc{
		font-size: 16px;
		line-height: 1;
	}
	.b-team__row{
		margin: 0 0 15px 0;
	}
	.b-team__wrap p{
		font-size: 16px;
		line-height: 1.2;
		max-width: 185px;
		margin: 0 auto 12px
	}
	.b-team .btn-more{
		width: 100px;
		height: 40px;
		font-size: 16.0551px;
		line-height: 24px;
	}

	.b-contacts{
		padding: 15px 0 0 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.b-contacts .container{
		display: block;
	}
	.b-contacts .b-title{
		margin: 0 0 70px 0;
	}
	.b-form{
		width: 100%;
		max-width: 380px;
		margin: 0 auto 0;
	}
	.b-form{
		padding: 20px 15px 15px 15px;
	}
	.b-btn{
		width: 100px;
		height: 40px;
		font-size: 15.0517px;
		line-height: 15px;
		margin: 15px auto 0;
	}
	.b-contacts__left-item{
		display: none;
	}
	.b-contacts__right{
		padding: 25px 0 0 0;
		margin: 0 auto 0;
	}
	.b-contacts__top span{
		font-size: 12px;
		line-height: 12px;
		width: 158px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin: 0 auto 8px;
	}
	.b-contacts__img{
		max-width: 170px;
		height: 160px;
		margin: 0 auto 25px;
	}
	.b-contacts__right p{
		font-size: 13.0448px;
		line-height: 13px;
		text-align: justify;
	}
	.b-footer{
		padding: 30px 0 15px 0;
	}
	.b-footer__top{
		display: block;
		margin: 0 0 55px 0;
	}
	.b-footer__logo{
		max-width: 220px;
		margin: 0 0 40px 0;
	}
	.b-footer__nav ul li a{
		font-size: 15px;
		line-height: 1;
		font-weight: 300;
	}
	.b-footer__nav ul li:not(:last-child){
		margin: 0 0 15px 0;
	}
	.b-footer__copyright{
		font-size: 10px;
	}

	.b-nav{
		width: 100%;
		padding: 40px 20px 30px 34px;
	}
	.b-nav.active{
		right: 0;
	}
	.b-nav ul li:not(:last-child) {
		margin: 0 0 6px 0;
	}
	.b-wrapper__top .b-title{
		font-size: 30px;
		line-height: 1;
	}
	.b-arrow{
		width: 20px;
		height: 20px;
		top: 4px;
		left: 0;
	}
	.b-wrapper__top{
		padding: 0 0 0 35px;
	}
	.team-page .b-team__item{
		padding: 25px 30px;
		display: block;
		border-width: 1px;
	}
	.team-page .b-team__item-img{
		width: 100%;
		margin: 0 0 15px 0;
	}
	.b-team__item-right p{
		font-size: 12px;
		line-height: 12px;
	}
	.articles-page .b-articles__item{
		max-width: 100%;
		min-height: 150px;
		border-width: 1px;
	}
	.articles-page .b-articles__top-img{
		position: relative;
		top: 0;
		left: -18px;
		height: auto;
		margin: 0 auto 0;
	}
	.articles-page .b-articles__top-img img{
		top: 0;
	}
	.articles-page .b-wrapper__top{
		margin: 0 0 10px 0;
	}
	.articles-page .b-articles__item p{
		font-size: 15px;
	}
	.articles-page{
		padding: 0 0 25px 0;
	}
	.article-page .b-wrapper__top .b-title {
		font-size: 18px;
		line-height: 1.1;
	}
	.article-page .b-wrapper__top .b-title br{
		display: none;
	}
	.article-page .b-wrapper__top{
		padding: 0;
	}
	.article__content p{
		font-weight: 300;
		font-size: 14px;
		line-height: 1.1;
	}
	.article__content p b{
		font-size: 25px;
	}
	.article-page{
		padding: 0 0 25px 0;
	}
	.articles-page .b-articles__col{
		width: 100%;
		margin-top: 22px;
	}
	.b-articles__row{
		margin-top: -22px;
	}
	.b-form .block span{
		font-size: 16px;
		margin: 0 0 15px 0;
	}
	.block-btn{
		padding: 10px 20px;
	}
	.b-partners__img img{
		display: block;
	}
	.b-partners__right{
		justify-content: center;
		width: inherit;
		max-width: inherit;
		margin: 0 -15px;
	}
	.b-partners__col{
		width: 100%;
	}
	.b-articles__item{
		border-width: 1px;
	}
	.b-partners__col{
		padding-left: 30px;
		padding-right: 30px;
	}
	.b-partners__item{
		font-size: 15px;
	}

}